---
layout: resume
pagination:
    data: resumes
    size: 1
    alias: resume
permalink: "/resume/{{ resume.slug }}/index.html"
---
<div class="page resume">
  {% include "./../_includes/partials/resume.njk" %}
</div>


