---
layout: base
title: "Projects"
permalink: "/projects/index.html"
---

<div class="page projects">
  <ul>
  {% for project in projects %}
    <li>
      <a href="/project/{{ project.slug }}">
    {% if project.image %}
    <img src="{{ project.image.medium }}" alt="{{ project.title }}" />
    {% endif %}
      <div>
        <h2>{{ project.title }}</h2>
          <div class="client">{{ project.client}}</div>
          <ul class="stack">
            {% for item in project.frontEnd %}
              <li class="front">{{ item.name}}</li>
            {% endfor %}
            {% for item in project.backEnd %}
              <li class="back">{{ item.name}}</li>
           {% endfor %}
            {% for item in project.host %}
              <li class="host">{{ item.name }}</li>
            {% endfor %}
          </ul>
        </div>
      </a>
    </li>
  {% endfor %}
  </ul>
</div>
